.user-location {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  z-index: 10;
  background-color: #4a606c;
  animation: dark-pulse 1.5s linear infinite; }

.mapboxgl-marker {
  z-index: 10; }
