.watch-list {
  display: flex;
  background: radial-gradient(#868686, #52535a);
  height: 100vh;
  width: 100%;
  overflow-y: auto; }

.favorites-list {
  max-width: 16rem;
  min-width: 16rem;
  font-size: 0.6rem;
  height: 100%;
  border-right: 3px solid darkgray;
  background-color: #aaaaaa;
  overflow: auto; }

@media only screen and (max-width: 1000px) {
  .watch-list {
    flex-direction: column-reverse; }
  .favorites-list {
    display: flex;
    max-width: none;
    height: fit-content;
    min-height: fit-content; } }
