.watch-list {
  display: flex;
  background: radial-gradient(#868686, #52535a);
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.favorites-list {
  max-width: 16rem;
  min-width: 16rem;
  font-size: 0.6rem;
  height: 100%;
  border-right: 3px solid #444546;
  background-color: #30333c;
  overflow: auto;
  animation: slideInLeft 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (max-width: 1000px) {
  .watch-list {
    flex-direction: column-reverse;
  }

  .favorites-list {
    overflow-x: scroll;
    display: flex;
    max-width: none;
    height: fit-content;
    min-height: fit-content;
  }
}
