.events-container {
  grid-column: 1/2; }

.map-pin {
  color: #5c3015;
  cursor: pointer;
  height: 2.5rem;
  filter: brightness(90%);
  margin: 0 0 0 1.9rem; }

.map-pin:hover {
  height: 3rem;
  filter: brightness(100%); }
