.tab-container {
  z-index: 10;
  position: absolute;
  background-color: rgb(228, 228, 228);
  box-shadow: 2px 2px rgb(205, 205, 205);
  height: 100vh;
  width: 19rem;
  font-size: 0.6rem;
}

.tab-img {
  height: 10rem;
  width: 19rem;
}

.tab-card {
  border-top: 3px solid rgb(213, 213, 213);
  padding-bottom: 1rem;
  cursor: pointer;
  filter: grayscale(40%);
}

.tab-card:hover {
  filter: grayscale(0%);
}

.tab-scroll-container {
  margin: 7rem 0 0 0;
  overflow-y: auto;
  height: 90vh;
}
