.mapboxgl-popup-content {
  font-family: caviar-bold;
  position: relative;
}

.mapboxgl-popup-tip {
  border-bottom-color: rgb(147, 145, 145) !important;

  border-top-color: rgb(147, 145, 145) !important;
}

.popup-container {
  animation: fadeIn 0.4s linear;
}

.popup-img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.popup-name {
  text-align: center;
  text-shadow: 2px 2px #6a0202;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
}

.fa-eye {
  color: rgb(211, 229, 245);
  text-align: right;
  cursor: pointer;
  transition: 0.2s linear;
}

.fa-eye:hover {
  color: white;
}
