.suggestion:hover {
  background-color: #b3b3b3;
  color: #fafafa; }

.location-input {
  font-size: 1.4rem;
  width: 12rem;
  position: absolute;
  z-index: 100;
  top: 2.9%;
  left: 5.5%;
  margin: 0 0 0 -6rem; }

.suggestion-list {
  color: #856c4b;
  width: 12.4rem;
  cursor: pointer;
  position: absolute;
  top: 5.5%;
  left: 5.6%;
  background-color: white;
  z-index: 100;
  margin: 0 0 0 -6.2rem; }

.suggestion {
  border: 0.8px solid gray;
  padding: 0.3rem;
  margin: 0; }

.active-suggestion {
  border: 0.8px solid gray;
  padding: 0.3rem;
  margin: 0;
  background-color: #b3b3b3; }
