.suggestion:hover {
  background-color: rgb(179, 179, 179);
  color: rgb(250, 250, 250);
}

.location-input {
  margin: auto;
}

.suggestion-list {
  color: rgb(133, 108, 75);
  width: 8.5rem;
  cursor: pointer;
  position: absolute;

  z-index: 100;
}

.suggestion {
  border: 0.8px solid gray;
  padding: 0.3rem;
  margin: 0;
}

.active-suggestion {
  border: 0.8px solid gray;
  padding: 0.3rem;
  margin: 0;
  background-color: rgb(179, 179, 179);
}

// form {
//   position: absolute
//   left: 50%;
//   top: 0
// }
