.suggestion:hover {
  background-color: rgb(179, 179, 179);
  color: rgb(250, 250, 250);
}

.location-input {
  font-size: 1.4rem;
  width: 12rem;
  position: absolute;
  z-index: 100;
  top: 2.9%;
  left: 2.5%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  border: 0.5px solid rgb(118, 89, 89);
  box-shadow: 1.5px 1.5px #a0a0a0;
  background-color: #dde7fa;
  padding: 0.5rem;
}

.location-input:hover {
  box-shadow: 2.5px 2.5px #a0a0a0;
  background-color: #ffffff;
}

input:focus {
  outline-width: 0;
}

.suggestion-list {
  color: rgb(133, 108, 75);
  width: 12.35rem;
  cursor: pointer;
  position: absolute;
  top: 5.5%;
  left: 2.5%;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}
.suggestion {
  border: 0.5px solid gray;
  padding: 0.3rem;
  margin: 0;
}

.active-suggestion {
  border: 0.8px solid gray;
  padding: 0.3rem;
  margin: 0;
  background-color: rgb(179, 179, 179);
}
