.map-container {
  grid-column: 2 / 3; }

.full-map-container {
  grid-column: 1 /3; }

.event-popup-container {
  background: #850a0a;
  filter: brightness(80%); }

.mapboxgl-popup-content {
  background: rgba(31, 28, 28, 0.495) !important;
  width: 15rem;
  height: 10rem; }
