.watch-list-card-container,
.watch-list-card-container-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: caviar;
  letter-spacing: 2px;
  border-top: 3px solid rgb(90, 99, 122);

  border-bottom: 3px solid rgb(90, 99, 122);

  background-size: cover;
  background-blend-mode: multiply;
  background-color: #2d2929;

  cursor: pointer;
  filter: grayscale(40%);
  height: 10rem;
  transition: 0.2s linear;
}

.watch-list-card-container:hover {
  filter: grayscale(0%);
  background-color: #5a5858;
}

.watch-list-card-container:hover .watch-list-card-title {
  color: white;
}

.watch-list-card-container-active {
  filter: grayscale(0%);
  background-color: rgba(32, 31, 61, 0.425);
}

.watch-list-card-title,
.watch-list-card-title-active {
  padding: 1rem;
  margin: auto 0;
  text-align: center;
  font-size: 1.4rem;
  text-shadow: 1px 1px #4f4f4f;
  color: #a1a1a1;
}

.watch-list-card-title-active {
  color: #ffffff;
}

@media only screen and (max-width: 1000px) {
  .watch-list-card-title {
    font-size: 2em;
  }

  .watch-list-card-container,
  .watch-list-card-container-active {
    display: initial;
    min-width: 12rem;
    line-height: 2rem;
    text-align: center;
    border-left: 2px solid rgb(65, 72, 82);
    border-right: 2px solid rgb(65, 72, 82);
  }
}

@media only screen and (max-width: 750px) {
  .img-card {
    height: 10em;
    width: 13em;
  }
  .watch-list-card-title {
    font-size: 1.5em;
  }
}
