.watch-list-card-container,
.watch-list-card-container-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: caviar;
  letter-spacing: 2px;
  border-top: 3px solid #e9e9e9;
  padding: 1em;
  cursor: pointer;
  filter: grayscale(40%); }

.watch-list-card-container-active:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-left-color: #c7c7c7;
  border-right: 0;
  margin-top: -22px;
  margin-right: -22px; }

.watch-list-card-container {
  background-color: #cfcfcf; }

.watch-list-card-container:hover {
  filter: grayscale(0%);
  background-color: #b1b1b1; }

.watch-list-card-container-active {
  filter: grayscale(0%);
  background-color: #707070; }

.watch-list-card-title,
.watch-list-card-title-active {
  margin: 0 0 1em 0;
  text-align: center;
  font-size: 1.2rem; }

.watch-list-card-title-active {
  color: #e4e4e4; }

.img-card {
  height: 12rem;
  width: 12rem;
  border-radius: 50%; }

@media only screen and (max-width: 1000px) {
  .img-card {
    height: 13em;
    width: 17em; }
  .watch-list-card-title {
    font-size: 2em; }
  .watch-list-card-container,
  .watch-list-card-container-active {
    padding-bottom: 2em; } }

@media only screen and (max-width: 750px) {
  .img-card {
    height: 10em;
    width: 13em; }
  .watch-list-card-title {
    font-size: 1.5em; } }
