.watch-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: caviar;
  letter-spacing: 2px;
  border-top: 3px solid darkgray;
  padding: 1em;
  cursor: pointer;
  filter: grayscale(40%); }

.watch-list-card:hover {
  filter: grayscale(0%);
  background-color: #cecece; }

.watch-list-card h1 {
  margin: 1em 0;
  text-align: center; }

.img-card {
  height: 10rem;
  width: 15rem;
  border-radius: 1rem; }
