.watch-list-card-container,
.watch-list-card-container-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: caviar;
  letter-spacing: 2px;
  border-top: 3px solid darkgray;
  padding: 1em;
  cursor: pointer;
  filter: grayscale(40%); }

.watch-list-card-container:hover {
  filter: grayscale(0%);
  background-color: #cecece; }

.watch-list-card-container-active {
  filter: grayscale(0%);
  background-color: #cecece; }

.watch-list-card-title {
  margin: 0 0 1em 0;
  text-align: center; }

.img-card {
  height: 10rem;
  width: 15rem;
  border-radius: 1rem; }

@media only screen and (max-width: 1000px) {
  .img-card {
    height: 13em;
    width: 17em; }
  .watch-list-card-title {
    font-size: 2em; }
  .watch-list-card-container,
  .watch-list-card-container-active {
    padding-bottom: 2em; } }

@media only screen and (max-width: 750px) {
  .img-card {
    height: 10em;
    width: 13em; }
  .watch-list-card-title {
    font-size: 1.5em; } }
