.placement-container {
  font-family: codec;
  height: 110%;
  width: 100%;
  display: flex;
  position: absolute;
  margin: -4rem 0 0rem 0;
  justify-content: center;
  align-items: center;
  background: url('../../images/concert_crowd.jpg');
  background-repeat: no-repeat;
  background-size: 140rem;
  background-position: center;
  background-color: #0c0c0c;
}
.login-container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  background: rgba(92, 92, 92, 0.9);
  padding: 1.5em;
  border-radius: 0.3em;

  // position: absolute;
  box-shadow: 0.1em 0.2em 0.5em rgba(100, 100, 100, 1);
}

fieldset {
  height: 10rem;
  margin: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.274);
}

.login-title {
  font-size: 5rem;
  color: #dadada;
  font-weight: 500;
  animation: flip 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.login-container h1 {
  font-size: 4em;
  color: rgb(255, 255, 255);
}

.login-button {
  font-family: codec;
  margin: 2em 9rem;
  padding: 0.2em 0.5em;
  background-color: #a1a1a1;
  border-radius: 0.3em;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 2em;
  cursor: pointer;
}

.login-button:hover {
  background-color: #746565;
}

@media only screen and (max-width: 600px) {
  .placement-container {
    background-size: 140%;
  }

  .login-container {
    padding: 0 0.3em;
    border-radius: 0.3em;
  }

  .login-button {
    margin: 0 0 0.5em 0;
  }
}
