.nav-container {
  height: 100vh;
  width: 14rem;
  position: absolute;
  z-index: 10;
  right: 0%;
  display: flex;
  flex-direction: column;
  background-color: #aaaaaa;
  font-family: caviar-bold;
  animation: slideInRight 0.3s linear;
  box-shadow: 2px 2px 2px 4px #98989873;
  color: #403b3b; }

.active {
  background-color: #c9c9c9; }

.nav-link {
  text-decoration-line: none;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 1rem;
  color: #6d6d6d; }

.nav-link:hover {
  border-left: 4px solid #797979;
  background-color: #c9c9c9;
  color: #ffffff; }

.greeting {
  margin: 4rem auto 2rem auto; }

@media only screen and (max-width: 1000px) {
  .nav-container {
    width: 10rem; } }

@media only screen and (max-width: 600px) {
  .nav-container {
    width: 9rem; } }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
