.nav-container {
  height: 30vh;
  width: 14rem;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(211, 211, 211);
  font-family: caviar-bold;
  animation: fadeIn 0.3s linear;
  box-shadow: 2px 2px 2px 4px #98989873;
  color: #403b3b;
  margin: 6.5rem 2rem 0 0rem;
}

.nav-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-bottom-color: rgb(204, 204, 204);
  border-top: 0;
  margin-left: -22px;
  margin-top: -22px;
}

.active {
  background-color: rgb(194, 194, 194);
}

.nav-link {
  text-decoration-line: none;
  font-size: 1.2rem;
  padding: 1rem 1rem 1rem 1rem;
  color: #6d6d6d;
  background-color: #e0e0e0;
  border-top: 2px solid rgb(197, 189, 189);
}

.fa-eye,
.fa-user,
.fa-home {
  margin-right: 0.6rem;
  font-size: 1.3rem;
}

.nav-link:hover {
  border-left: 4px solid rgb(121, 121, 121);
  background-color: rgb(201, 201, 201);
  color: #ffffff;
}
.logout-btn {
  cursor: pointer;
}
.logout-btn:hover {
  color: rgb(158, 74, 74);
  font-family: caviar;
  // border-bottom: 1px solid;
  font-weight: 800;
  border: none;
  background-color: #b8a6a6;
}

.greeting {
  margin: 2rem auto 2rem auto;
  font-size: 2rem;
}

.watchlist-number {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(39, 38, 38);
}

@media only screen and (max-width: 1000px) {
  .nav-container {
    width: 10rem;
  }

  .greeting {
  }
}

@media only screen and (max-width: 600px) {
  .nav-container {
    width: 9rem;
  }
}
