.nav-container {
  height: 100vh;
  width: 14rem;
  position: absolute;
  z-index: 10;
  right: 0%;
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  font-family: caviar-bold;
  animation: slideInRight 0.3s linear;
  box-shadow: 2px 2px 2px 4px #98989873;
  color: #403b3b;
}

.active {
  background-color: rgb(201, 201, 201);
}

.nav-link {
  text-decoration-line: none;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 1rem;
  color: #6d6d6d;
}

.nav-link:hover {
  border-left: 4px solid rgb(121, 121, 121);
  background-color: rgb(201, 201, 201);
  color: #ffffff;
}

.greeting {
  margin: 4rem auto 2rem auto;
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
