.nav-container {
  height: 19rem;
  width: 14rem;
  position: absolute;
  z-index: 20;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(209, 209, 209);
  font-family: caviar-bold;
  animation: fadeIn 0.3s linear;
  box-shadow: 2px 2px #98989873;
  text-shadow: 1.5px 1.5px #afafaf;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #727272;
  margin: 6.5rem 2rem 0 0rem;
}

.nav-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-bottom-color: rgb(209, 209, 209);
  box-shadow: 2px #98989873;

  border-top: 0;
  margin-left: -22px;
  margin-top: -22px;
}

.active {
  background-color: #c2c2c2;
}

.nav-link {
  text-decoration-line: none;
  font-size: 1.2rem;
  padding: 1rem 1rem 1rem 1rem;
  color: #8a8a8a;
  background-color: rgb(209, 209, 209);
}

.fa-eye,
.fa-user,
.fa-home {
  margin-right: 0.6rem;
  font-size: 1.3rem;
}

.nav-link:hover {
  border-left: 4px solid #7e7e7e;
  background-color: #c9c9c9;
  color: #777777;
}

.logout-btn {
  cursor: pointer;
  display: flex;
  padding: 1rem 0 1rem 1rem;
  text-shadow: 1.5px 1.5px #afafaf;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.logout-btn:hover {
  color: #9e4a4a;
  font-family: caviar;
  font-weight: 800;
  border: none;
  background-color: #b8a6a6;
}

.greeting {
  margin: 2rem auto 0.5rem auto;
  font-size: 2rem;
}

.watchlist-number {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #272626;
}

.fa-sign-out-alt {
  padding-right: 0.5rem;
  font-size: 1.7rem;
}

@media only screen and (max-width: 1000px) {
  .nav-container {
    width: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-container {
    width: 9rem;
  }
}
