.filter-menu {
  position: absolute;
  z-index: 101;
  display: flex;
  left: 7rem;
  top: 0;
  animation: slideInDown 0.5s cubic-bezier(0, 1, 0.5, 1);
  transition: slideOutUp 1s ease-out;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 7rem;
  width: max-content; }

.start-date {
  background-color: #f8f8f8; }

.end-date {
  background-color: #f1f1f1; }

.start-date-section,
.end-date-section {
  font-family: caviar;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  background: none; }

.start-date-btn,
.end-date-btn {
  cursor: pointer;
  padding: 0.5rem;
  margin: 1rem 0rem 1rem 0.5rem;
  color: #bdbdbd;
  background: #4b5454;
  border-radius: 1rem;
  transition: 0.2s linear;
  border: 1px solid #cecece; }

.start-date-btn:hover,
.end-date-btn:hover {
  color: #dedede;
  background: #353434; }

.start-date-input,
.end-date-input {
  color: #a3c19e;
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 1rem 0rem 1rem 0.5rem;
  display: inline-block;
  background: #4c505b;
  min-width: 8.5rem;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid #918f8f; }

.end-date-input {
  color: #c6baa9; }

.apply-btn {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.205);
  position: absolute;
  width: 7rem;
  height: 3rem;
  top: 9rem;
  left: 5rem;
  font-size: 1rem;
  border-radius: 2rem;
  color: #bdbdbd;
  background: #4b5454;
  cursor: pointer;
  animation: slideInDown 0.5s cubic-bezier(0, 1, 0.5, 1); }

.apply-btn:hover {
  background: #2f3535;
  color: #d7d7d7;
  transition: 0.2s linear; }

.react-calendar {
  z-index: 100;
  filter: invert(0.85);
  margin: 0 0 0 1rem; }
