.App {
  font-family: 'Roboto Slab', serif;
  height: -webkit-fill-available;
}

.toggle-map-style,
.toggle-map-style-active {
  height: 1.6rem;
  width: 3.4rem;
  border-radius: 1rem;
  margin: auto;
  border: 2px solid rgb(175, 175, 175);
  text-decoration-color: none;
}

button:focus {
  outline: 0;
}

.toggle-map-style,
.toggle-map-style-active {
  background-color: #eeeeee;
  position: absolute;
  z-index: 10;
  right: 0;
  margin: 2.1rem 7rem 0 0;
  top: 0;
}

.toggle-map-style-active {
  background-color: #5d5a5a;
}

.streets-button:hover {
  background-color: gray;
}

.streets-button,
.dark-button {
  height: 1.55rem;
  width: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
}

.dark-button {
  background-color: gray;
  float: right;
  cursor: pointer;
}

.dark-button:hover {
  background-color: whitesmoke;
}

.main-container {
  display: flex;
}

.fa-stream,
.fa-xing {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  z-index: 30;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 1.6rem 2.1rem;

  cursor: pointer;
  color: #f7f7f7;
}

.fa-xing {
  font-size: 2.1rem;
  margin: 1.4rem 2rem;
}

.fa-stream:hover {
  color: #d3d3d3;
}

.fa-xing:hover {
  color: #d3d3d3;
}

.dark {
  color: white;
}

.quarter-circle-top-right {
  width: 60px;
  height: 60px;
  background: rgba(155, 150, 150, 0.753);
  border-radius: 50%;
  z-index: 29;
  right: 0;
  top: 0;
  margin: 1rem 1.5rem 0 0;
  position: absolute;
}

@font-face {
  font-family: codec;
  src: url('../../fonts/codec.ttf');
}

@font-face {
  font-family: xtreme;
  src: url('../../fonts/xtreem.ttf');
}

@media only screen and (max-width: 1000px) {
  .fa-stream {
    font-size: 1rem;
  }

  .quarter-circle-top-right {
    height: 2rem;
    width: 2rem;
    margin-top: 1rem;
    margin-right: 1.05rem;
  }
}

@keyframes light-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(228, 228, 228, 0.226);
  }
  50% {
    box-shadow: 0 0 0 7px rgba(207, 206, 206, 0.151);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 255, 255, 0.425);
  }
}

@keyframes dark-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(252, 250, 250, 0);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(15, 15, 15, 0.247);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 255, 255, 0.082);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1)
      translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1)
      translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95)
      translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
