.App {
  font-family: 'Roboto Slab', serif;
  height: -webkit-fill-available; }

.toggle-map-style,
.toggle-map-style-active {
  height: 1.6rem;
  width: 3.4rem;
  border-radius: 1rem;
  margin: auto;
  border: 2px solid #afafaf;
  text-decoration-color: none; }

button:focus {
  outline: 0; }

.toggle-map-style,
.toggle-map-style-active {
  background-color: #eeeeee;
  position: absolute;
  z-index: 10;
  right: 0;
  margin: 0 6rem 0 0;
  top: 1.5%; }

.toggle-map-style-active {
  background-color: #5d5a5a; }

.streets-button:hover {
  background-color: gray; }

.streets-button,
.dark-button {
  height: 1.55rem;
  width: 1.6rem;
  border-radius: 50%;
  cursor: pointer; }

.dark-button {
  background-color: gray;
  float: right;
  cursor: pointer; }

.dark-button:hover {
  background-color: whitesmoke; }

.main-container {
  display: flex; }

.fa-window-close {
  position: absolute;
  right: 0%;
  top: 0.5%;
  margin: 0 0.3rem 0 0;
  font-size: 1.2rem;
  z-index: 30;
  cursor: pointer;
  padding: 0.3rem;
  color: #999999; }

.fa-window-close:hover {
  border-radius: 50%;
  color: #222222; }

.fa-bars {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  z-index: 30;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 1rem 1.15rem 0 0;
  cursor: pointer;
  color: #f7f7f7; }

.fa-bars:hover {
  color: #d3d3d3; }

.dark {
  color: white; }

.quarter-circle-top-right {
  width: 60px;
  height: 60px;
  background: #7c7c7c;
  border-radius: 50%;
  z-index: 29;
  right: 0;
  top: 0;
  margin: 0.3rem 0.5rem 0 0;
  position: absolute; }

.quarter-circle-top-right-inactive {
  display: none; }

@media only screen and (max-width: 1000px) {
  .fa-bars {
    font-size: 1rem; }
  .quarter-circle-top-right {
    height: 2rem;
    width: 2rem;
    margin-top: 1rem;
    margin-right: 1.05rem; } }

@keyframes light-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(228, 228, 228, 0.226); }
  50% {
    box-shadow: 0 0 0 7px rgba(207, 206, 206, 0.151); }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 255, 255, 0.425); } }

@keyframes dark-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(252, 250, 250, 0); }
  50% {
    box-shadow: 0 0 0 20px rgba(15, 15, 15, 0.247); }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 255, 255, 0.082); } }
