.App {
  background-color: #646464;
  background-image: url("https://newevolutiondesigns.com/images/freebies/city-wallpaper-5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55em;
  font-family: 'Roboto Slab', serif; }

.placement-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(200, 90, 0, 0.9);
  padding: .3em 1em;
  border-radius: .3em;
  box-shadow: 0.1em 0.2em #646464; }

.login-container h1 {
  margin: 0;
  font-size: 3em;
  color: white; }

.login-button {
  font-family: 'Roboto Slab', serif;
  margin: .5em;
  padding: .2em .5em;
  background-color: #646464;
  border: 1px solid transparent;
  border-radius: .3em;
  color: white;
  font-size: 2em;
  cursor: pointer; }

.login-button:hover {
  border: 1px solid #ffd732;
  transition: 500ms; }

.toggle-map-style,
.toggle-map-style-active {
  height: 1.6rem;
  width: 3.4rem;
  border-radius: 1rem;
  margin: auto;
  border: 2px solid #afafaf;
  text-decoration-color: none; }

button:focus {
  outline: 0; }

.toggle-map-style {
  background-color: #eeeeee; }

.toggle-map-style-active {
  background-color: #3c3939; }

.streets-button:hover {
  background-color: gray; }

.streets-button,
.dark-button {
  height: 1.55rem;
  width: 1.6rem;
  border-radius: 50%;
  align-self: start;
  cursor: pointer; }

.dark-button {
  background-color: gray;
  float: right;
  cursor: pointer; }

.dark-button:hover {
  background-color: whitesmoke; }

.main-container {
  display: flex; }
