.tab-container,
.tab-inactive {
  z-index: 10;
  position: absolute;
  background-color: #e6e3e3;
  filter: invert(0.9);
  transform: translate3d(0, 0, 0);
  box-shadow: 2px 2px 2px 2px rgba(172, 172, 172, 0.7);
  height: 100vh;
  width: 25rem;
  font-size: 0.6rem;
  animation: slideInLeft 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tab-inactive {
  transform: translate3d(-25rem, 0, 0);
}

.prompt-msg {
  position: absolute;
  z-index: 100;
  animation: fadeIn 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 1.2rem;
  font-family: caviar;
  line-height: 100px;
  vertical-align: center;
  color: rgb(36, 36, 36);
  text-align: center;
  left: 11rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  bottom: 2rem;
  width: 45%;
  height: 60%;
  background-blend-mode: multiply;
  background-color: rgba(255, 255, 255, 0.973);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.event-header-title {
  font-size: 1.5rem;
  text-align: left;
  padding-left: 2rem;
  font-family: caviar;
  letter-spacing: 1.5px;
}
strong {
  color: rgb(103, 100, 100);
}

.tab-card {
  cursor: pointer;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 2px 2px #2c2a2a15;
  height: 9rem;
  display: flex;
  filter: grayscale(40%);
  padding: 1rem;
  margin: 1rem 0;
}

.tab-info {
  font-family: caviar;
  font-size: 0.8rem;
  align-self: center;
}

.tab-img {
  height: 8rem;
  filter: invert(1);
  width: 9rem;
  border-radius: 0.3rem;
  box-shadow: 1.3px 1.3px 1.3px 1.3px rgba(0, 0, 0, 0.377);
  align-self: center;
  margin-right: 1.5rem;
}

.tab-card-listed:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 30px 30px 0;
  border-style: solid;
  border-color: #979797 #e6e3e3;
  border-radius: 0 0 0 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.fa-star {
  font-size: 1.4rem;
  position: absolute;
  right: 3%;
  bottom: 8%;
  cursor: pointer;
}

.fa-bookmark:hover {
  color: gray;
  text-shadow: 0.5px 0.5px 0.5px #000000;
}

.arrow-container {
  position: absolute;
  z-index: 10000;
  right: -2rem;
  top: 2rem;
  background-color: #e6e3e3;
  box-shadow: 3px 3px rgba(172, 172, 172, 0.7);
  cursor: pointer;
  padding: 0.5rem;
}

.chevron-left-right-container {
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: -4.3rem;
  border-radius: 0 1rem 1rem 0;
  z-index: -3;
  top: 1rem;
  border: 2px solid rgba(172, 172, 172, 0.7);
  background: rgb(224, 224, 224);
  padding: 0.5rem 1rem;
  cursor: pointer;
  // box-shadow: 2px 2px 2px rgba(172, 172, 172, 0.7);
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
  font-weight: 600;
  font-size: 2rem;
  color: #978383;
}

.chevron-left-right-container:hover .fa-chevron-circle-left {
  filter: invert(0.75);
}

.chevron-left-right-container:hover .fa-chevron-circle-right {
  filter: invert(0.75);
}

.active-bookmark {
  color: #343c57;
}

.tab-contents {
  font-size: 0.9rem;
}

.tab-event-name {
  letter-spacing: 2px;
  margin: 0;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.tab-date {
  color: #314163;
}

.tab-card:hover {
  filter: grayscale(0%);
  background-color: rgba(237, 244, 253, 0.459);
}

.tab-scroll-container {
  position: absolute;
  overflow-y: auto;
  left: 0;
  height: 85.5%;
  padding: 0 0 0;
  overflow-y: scroll;
  border-top: 2px solid #cccccc;
}

.view-modal {
  font-size: 1.2rem;
  cursor: pointer;
  color: #868686;
  font-weight: 600;
  margin: 0;
}

.view-modal:hover {
  color: black;
}

@media only screen and (max-width: 1025px) {
  .tab-scroll-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 11rem;
    padding: 0 0 0;
    overflow-x: auto;
    border-top: 2px solid #cccccc;
  }

  .fa-bookmark {
    text-shadow: 2px 2px white;
  }
  .tab-event-name {
    font-size: 0.7rem;
  }
  .tab-container {
    margin-left: 0;
    z-index: 10;
    width: 100vw;
    font-size: 0.6rem;
    bottom: 0;
    height: 15rem;
  }
  .tab-card {
    border-right: none;
    padding: 0.2rem 1rem 0 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 12rem;
  }

  .event-header-title {
    display: none;
    font-size: 1.4rem;
    text-align: left;
    padding-left: 2rem;
    font-family: caviar;
    letter-spacing: 1.5px;
  }

  .tab-info {
    .tab-date {
      display: none;
    }

    .view-modal {
      color: #07122b;
      font-size: 1rem;
      padding-left: 1rem;
    }

    .tab-event-name {
      color: #412e2e;
      z-index: 100;
      padding-left: 1rem;
      font-size: 1.5rem;
      text-shadow: 1px 1px 1px rgba(56, 49, 49, 0.432);
      margin-bottom: 1.5rem;
      text-overflow: ellipsis;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .tab-img {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    z-index: -1;
    background-blend-mode: multiply;
    opacity: 0.5;
  }

  .tab-img {
    // width: 100%;
  }
}
