@font-face {
  font-family: caviar;
  src: url('../../fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: caviar-bold;
  src: url('../../fonts/CaviarDreams_Bold.ttf');
}

.hover-msg {
  font-size: 1rem;
  color: #838383;
}

.event-modal-container {
  font-family: caviar;
  display: flex;
  flex-direction: column;
}

.event-venue,
.event-name {
  font-family: codec;
}

.event-name {
  color: #c2c2c2;
  font-size: 4rem;
  z-index: 2;
  text-shadow: 2px 2px rgb(26, 26, 26);
  text-align: left;
  padding: 0rem 2rem;
  margin: 1rem auto 0 auto;
}

.event-venue {
  font-size: 2.8rem;
  font-weight: bold;
  color: #9f9f9f;
  z-index: 2;
  font-weight: 800;
  text-shadow: 2px 2px rgb(26, 26, 26);
}

.event-date {
  font-size: 1.6rem;
  font-weight: bold;
  color: #a9a9a9;
  text-shadow: 2px 2px rgb(26, 26, 26);
}

.event-address {
  font-size: 1.6rem;
  font-weight: bold;
  z-index: 1000;
  color: #969696;
  text-shadow: 2px 2px rgb(26, 26, 26);
}

.event-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.2rem;
  z-index: 1;
  opacity: 0.2;
  grid-column: 2/3;
  grid-row: 1/ 4;
  border-radius: 1rem;
}

.modal-link-details {
  display: flex;
}

.modal-link {
  display: inline-block;
  width: max-content;
  font-weight: 800;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  border: 1px solid black;
  border-radius: 1rem;
  border-color: #383535;
  background: rgb(89, 89, 89);
  cursor: pointer;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(211, 211, 211);
  align-self: center;
  margin-left: 5rem;
}

.modal-link:hover {
  color: rgb(168, 196, 212);
  background-color: rgb(101, 100, 100);
}

.modal-address-date {
  display: inline-block;
}

.styles_modal__gNwvD {
  border-radius: 1rem;
  background-color: rgb(29, 29, 29);
  border: 1.5px solid rgb(121, 121, 121);
}

.event-modal-contents {
  padding: 0 2rem;
  z-index: 2;
}

.styles_closeIcon__1QwbI {
  cursor: pointer;
  z-index: 10;
  fill: #c2c2c2;
}

.styles_closeIcon__1QwbI:hover {
  fill: #eeeeee;
}

@media only screen and (max-width: 1025px) {
  .event-name {
    font-size: 1.2rem;
  }
  .event-img {
    width: 500px;
  }
  .event-date {
    font-size: 0.8rem;
  }
}

@media only screen and (max-height: 725px) {
  .event-name {
    font-size: 1.2rem;
  }
  .styles_modal__gNwvD {
    border-radius: 1rem;
    background-color: rgba(225, 225, 225, 0.927);
  }
  .event-venue {
    font-size: 1rem;
    font-weight: 800;
    margin: 1rem 0 0 0;
  }
  .event-address {
    font-size: 1rem;
  }
  .event-img {
    height: 200px;
    width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .event-name {
    font-size: 1rem;
  }

  .styles_modal__gNwvD {
    border-radius: 1rem;
    background-color: rgba(225, 225, 225, 0.927);
  }

  .event-venue {
    font-size: 1rem;
    font-weight: 800;
    margin: 1rem 0 0 0;
  }

  .event-address {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .event-name {
    font-size: 0.8rem;
  }

  .event-img {
    height: 150px;
    width: 200px;
  }
}
