html {
  background-image: url(https://kfmradio.com/sites/default/files/thumbnails/image/concert_crowd.jpg);
  /* background-image: url(https://ubisafe.org/images/crowd-drawing-concert-5.png); */
  background-repeat: no-repeat;
  background-size: 120%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
