.selected-wrapper {
  display: flex;
  transition: 2s; }

.selected-container {
  width: 82%;
  height: 100%;
  font-family: caviar;
  letter-spacing: 2px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column; }

.selected-background-image {
  position: absolute;
  z-index: 3;
  width: 82%;
  height: 100%;
  opacity: 0.2; }

.weather-high,
.weather-low {
  color: #ec7373;
  margin: auto 0.4rem;
  font-size: 1.4rem; }

.weather-low {
  color: #b8b8b8; }

.weather-precip {
  margin: 1.3rem;
  font-size: 1.2rem;
  color: #caf8e9; }

.weather-info {
  display: flex;
  justify-content: center; }

.weather-container {
  display: flex;
  border: 0 2px 2px 2px solid black;
  border: 2px solid #7c7c7c;
  border-top: 0;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
  padding: 0.5rem;
  height: fit-content;
  background-color: #474750;
  animation: slideInDown 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 10; }

.item-info {
  height: 100%;
  margin-left: 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem; }

.selected-title {
  margin: 0.5em 0 0 0;
  text-shadow: 3px 3px #4f4f4f;
  font-size: 4em;
  font-weight: 800;
  color: #cecece; }

.selected-date {
  font-weight: 600;
  text-shadow: 3px 3px #4f4f4f;
  margin: 0.5em 0;
  font-size: 2.5em;
  color: #b6b6b6; }

.selected-distance {
  font-weight: 600;
  text-shadow: 3px 3px #4f4f4f;
  margin: 0;
  font-size: 1.5em;
  color: #dfebe9; }

.selected-address {
  margin: 0.5em 0;
  font-size: 2em;
  text-shadow: 2px 2px #4f4f4f;
  font-weight: 800;
  color: #d0cfc1; }

.selected-remove {
  font-family: caviar;
  font-weight: 800;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  border-radius: 1rem;
  border-color: #383535;
  cursor: pointer;
  margin: 1rem;
  color: lightgray; }

.selected-remove:hover {
  background-color: #5a5a5a;
  color: #beaaaa; }

.selected-link {
  display: inline;
  width: 5.7rem;
  font-weight: 800;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  border: 1px solid black;
  border-radius: 1rem;
  border-color: #383535;
  cursor: pointer;
  text-decoration: none;
  color: lightgray; }

.selected-link:hover {
  color: #a8c4d4;
  background-color: #5a5a5a; }

.loading-gif {
  height: 10rem;
  width: 10rem;
  margin: auto; }

@media only screen and (max-width: 1000px) {
  .item-info {
    font-size: 1rem;
    justify-content: start;
    height: 20rem;
    margin-top: 2rem; }
  .selected {
    margin: 3rem 1rem; }
  .selected-container {
    padding: 0 1em;
    letter-spacing: 0;
    width: unset; }
  .selected-title {
    margin: 0;
    padding: 0.5rem;
    font-size: 2.5em; }
  .selected-date {
    font-size: 1.6em; }
  .selected-address {
    font-size: 1.3em; } }

@media only screen and (max-height: 900px) {
  .item-info {
    font-size: 1rem;
    justify-content: start;
    height: 20rem; }
  .selected {
    margin: 2rem 1rem; } }

@media only screen and (max-width: 500px) {
  .selected {
    margin: 1rem 1rem; }
  .selected-remove,
  .selected-link {
    font-size: 0.7rem; } }
