.selected-wrapper {
  display: flex;
  transition: 2s; }

.selected-container {
  width: 82%;
  height: 100%;
  font-family: caviar;
  letter-spacing: 2px;
  font-size: 1.1em;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  background: #000000cc;
  background-size: cover; }

.weather-high,
.weather-low {
  color: #ec7373;
  margin: 0.5rem 0 0.5rem 1rem;
  font-size: 1.4rem; }

.weather-low {
  color: #b8b8b8; }

.high-low {
  align-self: center; }

.weather-precip {
  margin: 1.3rem;
  font-size: 1.2rem;
  color: #caf8e9; }

.weather-info {
  display: flex;
  justify-content: center;
  font-weight: 800; }

.weather-container {
  display: flex;
  box-shadow: 1px 1px 1px 1px #28222253;
  border: 2px solid #161616;
  border-top: 0;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
  padding: 0.5rem;
  height: fit-content;
  background-color: #65656572;
  animation: slideInDown 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 10; }

.item-info {
  height: 100%;
  margin-left: 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem; }

.selected-title {
  font-family: codec;
  margin: 0.5em 0 0 0;
  text-shadow: 3px 3px #4f4f4f;
  font-size: 4em;
  font-weight: 800;
  color: #f1f1f1; }

.selected-date-venue {
  display: flex;
  flex-direction: row;
  min-height: 8rem;
  justify-content: flex-start; }

.selected-date {
  max-width: 20rem;
  font-weight: 600;
  text-shadow: 3px 3px #4f4f4f;
  font-size: 2.5em;
  color: #f5aa09; }

.at-sign {
  font-size: 4em;
  margin-right: 2rem;
  align-self: center;
  font-weight: 600;
  color: #855d07; }

.selected-venue {
  font-weight: 600;
  text-shadow: 3px 3px #4f4f4f;
  font-size: 2.5em;
  align-self: center;
  color: #f5aa09; }

.selected-distance {
  font-weight: 600;
  text-shadow: 3px 3px #4f4f4f;
  margin: 0;
  font-size: 1.5em;
  color: #dfebe9; }

.selected-address {
  margin: 0.5em 0;
  font-size: 2em;
  text-shadow: 2px 2px #4f4f4f;
  font-weight: 800;
  color: #f0a780; }

.selected-remove {
  font-family: caviar;
  font-weight: 800;
  border: 1px solid black;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  border-radius: 1rem;
  cursor: pointer;
  margin: 1rem;
  color: lightgray;
  transition: 0.2s linear; }

.selected-remove:hover {
  background-color: #714f4f;
  color: #beaaaa; }

.selected-link {
  display: inline;
  width: 5.7rem;
  font-weight: 800;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  border: 1px solid black;
  border-radius: 1rem;
  transition: 0.2s linear;
  cursor: pointer;
  text-decoration: none;
  color: lightgray; }

.selected-link:hover {
  color: #102d3e;
  background-color: #506774; }

.loading-gif {
  height: 10rem;
  width: 10rem;
  margin: auto; }

@media only screen and (max-width: 1000px) {
  .item-info {
    font-size: 1rem;
    justify-content: start;
    height: 20rem;
    margin-top: 2rem; }
  .selected {
    margin: 3rem 1rem; }
  .selected-container {
    padding: 0 1em;
    letter-spacing: 0;
    width: unset; }
  .selected-title {
    margin: 0;
    padding: 0.5rem;
    font-size: 2.5em; }
  .selected-date {
    font-size: 1.6em; }
  .selected-address {
    font-size: 1.3em; } }

@media only screen and (max-height: 900px) {
  .item-info {
    font-size: 1rem;
    justify-content: start;
    height: 20rem; }
  .selected {
    margin: 2rem 1rem; } }

@media only screen and (max-width: 500px) {
  .selected {
    margin: 1rem 1rem; }
  .selected-remove,
  .selected-link {
    font-size: 0.7rem; } }
