.selected-wrapper {
  display: flex;
  transition: 2s; }

.selected-container {
  padding: 0 1.5em;
  width: 100%;
  height: 100%;
  font-family: caviar;
  letter-spacing: 2px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column; }

.weather-high {
  color: #ec7373;
  margin: auto 0.2rem; }

.weather-low {
  color: #b9b9b9;
  margin: auto 0.2rem; }

.weather-precip {
  margin: 1rem;
  color: #76a595; }

.weather-info {
  display: flex;
  justify-content: center; }

.weather-container {
  display: flex;
  border: 0 2px 2px 2px solid black;
  border: 2px solid #7c7c7c;
  border-top: 0;
  border-radius: 2rem;
  border-radius: 0rem 0rem 2rem 2rem;
  padding: 0.5rem;
  height: fit-content; }

.item-info {
  height: 100%;
  font-size: .9em;
  display: flex;
  flex-direction: column; }

.selected-title {
  margin: .5em 0 0 0;
  font-size: 4em;
  color: #020202; }

.selected-date {
  margin: .5em 0;
  font-size: 3em;
  color: #acabab; }

.selected-distance {
  margin: 0;
  font-size: 1.5em;
  color: #222222; }

.selected-address {
  margin: .5em 0;
  font-size: 2em;
  color: #c7c7c7; }

.selected-remove {
  font-family: caviar;
  font-weight: 800;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  border-radius: 1rem;
  border-color: #383535;
  cursor: pointer;
  margin: 1rem; }

.selected-remove:hover {
  background-color: #686868;
  color: #a39191; }

.selected-link {
  font-weight: 800;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  border: 1px solid black;
  border-radius: 1rem;
  border-color: #383535;
  cursor: pointer;
  text-decoration: none;
  color: black; }

.selected-link:hover {
  background-color: #686868;
  color: #90aab9; }

@media only screen and (max-width: 1000px) {
  .item-info {
    justify-content: space-between; }
  .selected-container {
    padding: 0 1em;
    letter-spacing: 0;
    width: unset; } }

@media only screen and (max-width: 750px) {
  .item-info {
    font-size: .8em; } }
