.selected-wrapper {
  display: flex;
  transition: 2s; }

.selected-container {
  padding: 0 1.5em;
  width: 100%;
  height: 100%;
  font-family: caviar;
  letter-spacing: 2px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column; }

.weather-high,
.weather-low {
  color: #ec7373;
  margin: auto 0.2rem;
  font-size: 1.4rem; }

.weather-low {
  color: #b8b8b8; }

.weather-precip {
  margin: 1.3rem;
  font-size: 1.2rem;
  color: #caf8e9; }

.weather-info {
  display: flex;
  justify-content: center; }

.weather-container {
  display: flex;
  border: 0 2px 2px 2px solid black;
  border: 2px solid #7c7c7c;
  border-top: 0;
  border-radius: 2rem;
  border-radius: 0rem 0rem 2rem 2rem;
  padding: 0.5rem;
  height: fit-content; }

.item-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem; }

.selected-title {
  margin: 0.5em 0 0 0;
  font-size: 4em;
  color: #020202; }

.selected-date {
  margin: 0.5em 0;
  font-size: 2.5em;
  color: #acabab; }

.selected-distance {
  margin: 0;
  font-size: 1.5em;
  color: #222222; }

.selected-address {
  margin: 0.5em 0;
  font-size: 2em;
  color: #c7c7c7; }

.selected-remove {
  font-family: caviar;
  font-weight: 800;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  border-radius: 1rem;
  border-color: #383535;
  cursor: pointer;
  margin: 1rem;
  color: lightgray; }

.selected-remove:hover {
  background-color: #5a5a5a;
  color: #beaaaa; }

.selected-link {
  font-weight: 800;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  border: 1px solid black;
  border-radius: 1rem;
  border-color: #383535;
  cursor: pointer;
  text-decoration: none;
  color: lightgray; }

.selected-link:hover {
  color: #a8c4d4;
  background-color: #5a5a5a; }

@media only screen and (max-width: 1000px) {
  .item-info {
    font-size: 1rem;
    justify-content: start;
    height: 20rem;
    margin-top: 2rem; }
  .selected {
    margin: 3rem 1rem; }
  .selected-container {
    padding: 0 1em;
    letter-spacing: 0;
    width: unset; }
  .selected-title {
    margin: 0;
    padding: 0.5rem;
    font-size: 2.5em; }
  .selected-date {
    font-size: 1.6em; }
  .selected-address {
    font-size: 1.3em; } }

@media only screen and (max-height: 900px) {
  .item-info {
    font-size: 1rem;
    justify-content: start;
    height: 20rem; }
  .selected {
    margin: 2rem 1rem; } }

@media only screen and (max-width: 500px) {
  .selected {
    margin: 1rem 1rem; }
  .selected-remove,
  .selected-link {
    font-size: 0.7rem; } }

@media only screen and (max-height: 900px) {
  .selected {
    margin: 1rem 1rem; }
  .selected-container {
    padding: 0 1em;
    letter-spacing: 0;
    width: unset; }
  .selected-title {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.6em; }
  .selected-date {
    font-size: 1.3em; }
  .selected-address {
    font-size: 1.2em; }
  .selected-distance {
    font-size: 1rem; } }
