.suggestion:hover {
  background-color: #b3b3b3;
  color: #fafafa; }

.location-input {
  font-size: 1.4rem;
  width: 12rem;
  position: absolute;
  z-index: 100;
  top: 2.9%;
  left: 2.5%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  border: 0.5px solid #765959;
  box-shadow: 1.5px 1.5px #a0a0a0;
  background-color: #dde7fa;
  padding: 0.5rem; }

.location-input:hover {
  box-shadow: 2.5px 2.5px #a0a0a0;
  background-color: #ffffff; }

input:focus {
  outline-width: 0; }

.suggestion-list {
  color: #856c4b;
  width: 13.2rem;
  cursor: pointer;
  position: absolute;
  top: 6.7%;
  left: 2.5%;
  background-color: white;
  z-index: 100; }

.suggestion {
  border: 0.5px solid gray;
  padding: 0.3rem;
  margin: 0; }

.active-suggestion {
  border: 0.8px solid gray;
  padding: 0.3rem;
  margin: 0;
  background-color: #b3b3b3; }

.show-date-btn,
.hide-date-btn {
  cursor: pointer;
  font-family: system-ui;
  font-size: 1.4rem;
  font-weight: 300;
  position: absolute;
  color: #6b6b6b;
  left: 0;
  z-index: 50;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.377);
  top: 0;
  padding: 0.5rem;
  margin: 1.9rem 0 0 18rem;
  background-color: #dde7fa;
  border-radius: 0.5rem; }

.show-date-btn:hover {
  color: black;
  background-color: #ffffff; }

@media only screen and (max-width: 600px) {
  .location-input {
    font-size: 1rem;
    width: 10rem; }
  .suggestion-list {
    width: 11rem; } }
