.filter-form {
  position: absolute;
  left: 29rem;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 7rem;
  width: max-content; }

.ap-with-places {
  filter: invert(0.9); }

.algo-places {
  position: absolute;
  filter: invert(0.8);
  z-index: 10;
  border: 3px solid #615f5f;
  border-radius: 1rem !important;
  transition: 0.4s linear;
  width: 20rem;
  font-size: 1.4rem;
  padding-right: 35px;
  padding-left: 16px;
  line-height: 40px;
  height: 50px;
  border-radius: 3px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box; }

.ap-input-icon {
  z-index: 11; }

.algolia-hide {
  display: none; }

.filter-icons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content; }

.fa-calendar-alt,
.fa-search-location {
  font-size: 1.7rem;
  margin: 0.5rem 2rem;
  z-index: 11;
  color: #fefefe;
  background-color: #b8bcbf;
  cursor: pointer;
  transition: 0.2s linear;
  text-shadow: 1.5px 1.5px 1.5px #66717868;
  padding: 0.5rem 0.6rem;
  border-radius: 50%; }

.fa-calendar-alt:hover,
.fa-search-location:hover {
  text-shadow: 1.5px 1.5px 1.5px #66717868;
  transition: 0.2s linear;
  background-color: #5c676f; }

.filter-active {
  color: #bbbbbb;
  background-color: #5c686f; }

.filter-active:hover {
  background-color: #3b454b; }

@media only screen and (max-width: 1025px) {
  .filter-form {
    left: 0; } }
