.filter-form {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 7rem;
  width: 30rem; }

.suggestion:hover {
  color: #543e20;
  background-color: #cce2e8; }

.location-input-suggestions {
  z-index: 100;
  position: relative; }

.location-input,
.show-date-btn,
.hide-date-btn {
  font-size: 1.4rem;
  width: 12rem;
  height: 2rem;
  z-index: 100;
  border-radius: 0.5rem;
  justify-self: start;
  border: 0.5px solid #765959;
  box-shadow: 1.5px 1.5px #a0a0a0;
  background-color: #dde7fa;
  padding: 0.5rem;
  animation: fadeIn 2s cubic-bezier(0.165, 0.84, 0.44, 1); }

.location-input:hover {
  box-shadow: 2.5px 2.5px #a0a0a0;
  background-color: #e0f1f5; }

input:focus {
  outline-width: 0; }

.suggestion-list {
  color: #856c4b;
  width: 13rem;
  cursor: pointer;
  position: absolute;
  top: 3.1rem;
  left: 0.1rem;
  background-color: white;
  z-index: 100; }

.suggestion {
  border: 0.5px solid gray;
  padding: 0.3rem;
  margin: 0; }

.active-suggestion {
  color: #543e20;
  border: 0.8px solid gray;
  padding: 0.3rem;
  margin: 0;
  background-color: #ddecf0; }

.show-date-btn,
.hide-date-btn {
  width: 10rem;
  height: 3rem;
  animation: fadeIn 2s cubic-bezier(0.165, 0.84, 0.44, 1); }

.show-date-btn:hover {
  color: black;
  background-color: #ffffff; }

@media only screen and (max-width: 600px) {
  .location-input {
    font-size: 1rem;
    width: 10rem; }
  .suggestion-list {
    width: 11rem; } }
